ImportacaoPesagem/DAL/Connected Services/ServiceReferenceBalanca/Portaria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Portaria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wdcbalanca01.intranet.local:5050/Portaria.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wdcbalanca01.intranet.local:5050/Portaria.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPortaria_ConsultarPesagens_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPesagens" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPesagens_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPesagensResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPesagensPlaca_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPesagensPlaca" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPesagensPlaca_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPesagensPlacaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPesagensDataHora_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPesagensDataHora" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPesagensDataHora_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPesagensDataHoraResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPesagem_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPesagem" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPesagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPesagemResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPesagemPorIdExtPrePesagem_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPesagemPorIdExtPrePesagem" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPesagemPorIdExtPrePesagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPesagemPorIdExtPrePesagemResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReabrirPesagem_InputMessage">
    <wsdl:part name="parameters" element="tns:ReabrirPesagem" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReabrirPesagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReabrirPesagemResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReabrirPesagemPorIdExtPrePesagem_InputMessage">
    <wsdl:part name="parameters" element="tns:ReabrirPesagemPorIdExtPrePesagem" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReabrirPesagemPorIdExtPrePesagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReabrirPesagemPorIdExtPrePesagemResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_CancelarPesagem_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarPesagem" />
  </wsdl:message>
  <wsdl:message name="IPortaria_CancelarPesagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarPesagemResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_CancelarPesagemPorIdExtPrePesagem_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarPesagemPorIdExtPrePesagem" />
  </wsdl:message>
  <wsdl:message name="IPortaria_CancelarPesagemPorIdExtPrePesagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarPesagemPorIdExtPrePesagemResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPrePesagens_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPrePesagens" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPrePesagens_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPrePesagensResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPrePesagemPorIdExt_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPrePesagemPorIdExt" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPrePesagemPorIdExt_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPrePesagemPorIdExtResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirPrePesagem_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirPrePesagem" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirPrePesagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirPrePesagemResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarPrePesagem_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarPrePesagem" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarPrePesagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarPrePesagemResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirPrePesagem_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirPrePesagem" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirPrePesagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirPrePesagemResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPrePesagemAutomacao_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPrePesagemAutomacao" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarPrePesagemAutomacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPrePesagemAutomacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirPrePesagemAutomacao_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirPrePesagemAutomacao" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirPrePesagemAutomacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirPrePesagemAutomacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarPrePesagemAutomacao_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarPrePesagemAutomacao" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarPrePesagemAutomacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarPrePesagemAutomacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirPrePesagemAutomacao_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirPrePesagemAutomacao" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirPrePesagemAutomacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirPrePesagemAutomacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AtivarDesativarPrePesagemAutomacao_InputMessage">
    <wsdl:part name="parameters" element="tns:AtivarDesativarPrePesagemAutomacao" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AtivarDesativarPrePesagemAutomacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtivarDesativarPrePesagemAutomacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirTag_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirTag" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirTagResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarTag" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarTagResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirTag_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirTag" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirTagResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExisteTag_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteTag" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExisteTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteTagResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProduto" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirProduto" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarProduto" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirProduto" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReativarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:ReativarProduto" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReativarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReativarProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCliente" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirClienteFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirClienteFisica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirClienteFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirClienteFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirClienteJuridica_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirClienteJuridica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirClienteJuridica_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirClienteJuridicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarClienteFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarClienteFisica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarClienteFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarClienteFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarClienteJuridica_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarClienteJuridica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarClienteJuridica_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarClienteJuridicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirCliente" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReativarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ReativarCliente" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReativarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReativarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarMotorista_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMotorista" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarMotorista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMotoristaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirMotoristaFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirMotoristaFisica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirMotoristaFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirMotoristaFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarMotoristaFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarMotoristaFisica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarMotoristaFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarMotoristaFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirMotorista_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirMotorista" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirMotorista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirMotoristaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReativarMotorista_InputMessage">
    <wsdl:part name="parameters" element="tns:ReativarMotorista" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReativarMotorista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReativarMotoristaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarTransportadora_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTransportadora" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarTransportadora_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTransportadoraResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirTransportadoraFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirTransportadoraFisica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirTransportadoraFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirTransportadoraFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirTransportadoraJuridica_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirTransportadoraJuridica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirTransportadoraJuridica_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirTransportadoraJuridicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarTransportadoraFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarTransportadoraFisica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarTransportadoraFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarTransportadoraFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarTransportadoraJuridica_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarTransportadoraJuridica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarTransportadoraJuridica_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarTransportadoraJuridicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirTransportadora_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirTransportadora" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirTransportadora_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirTransportadoraResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReativarTransportadora_InputMessage">
    <wsdl:part name="parameters" element="tns:ReativarTransportadora" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReativarTransportadora_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReativarTransportadoraResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarVisitante_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarVisitante" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarVisitante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarVisitanteResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirVisitanteFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirVisitanteFisica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirVisitanteFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirVisitanteFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirVisitanteJuridica_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirVisitanteJuridica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirVisitanteJuridica_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirVisitanteJuridicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarVisitanteFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarVisitanteFisica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarVisitanteFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarVisitanteFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarVisitanteJuridica_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarVisitanteJuridica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarVisitanteJuridica_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarVisitanteJuridicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirVisitante_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirVisitante" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirVisitante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirVisitanteResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReativarVisitante_InputMessage">
    <wsdl:part name="parameters" element="tns:ReativarVisitante" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReativarVisitante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReativarVisitanteResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarProdutor_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProdutor" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarProdutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProdutorResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirProdutorFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirProdutorFisica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirProdutorFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirProdutorFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirProdutorJuridica_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirProdutorJuridica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirProdutorJuridica_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirProdutorJuridicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarProdutorFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarProdutorFisica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarProdutorFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarProdutorFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarProdutorJuridica_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarProdutorJuridica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarProdutorJuridica_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarProdutorJuridicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirProdutor_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirProdutor" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirProdutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirProdutorResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReativarProdutor_InputMessage">
    <wsdl:part name="parameters" element="tns:ReativarProdutor" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ReativarProdutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReativarProdutorResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLPessoaFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLPessoaFisica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLPessoaFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLPessoaFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLPessoaJuridica_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLPessoaJuridica" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLPessoaJuridica_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLPessoaJuridicaResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLEndereco_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLEndereco" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLEndereco_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLEnderecoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLPrePesagemNotaFiscal_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLPrePesagemNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLPrePesagemNotaFiscal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLPrePesagemNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLPrePesagemProdutoAdicional_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLPrePesagemProdutoAdicional" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLPrePesagemProdutoAdicional_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLPrePesagemProdutoAdicionalResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLProdutoComposicao_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLProdutoComposicao" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLProdutoComposicao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLProdutoComposicaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLOrdemProducaoComposicao_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLOrdemProducaoComposicao" />
  </wsdl:message>
  <wsdl:message name="IPortaria_GerarXMLOrdemProducaoComposicao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarXMLOrdemProducaoComposicaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarVeiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarVeiculo" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarVeiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirVeiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirVeiculo" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirVeiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarVeiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarVeiculo" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarVeiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirVeiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirVeiculo" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirVeiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarAuditoriasAutomacao_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAuditoriasAutomacao" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarAuditoriasAutomacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAuditoriasAutomacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarOrdemProducao_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarOrdemProducao" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarOrdemProducao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarOrdemProducaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirOrdemProducao_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirOrdemProducao" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirOrdemProducao_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirOrdemProducaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarOrdemProducao_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarOrdemProducao" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarOrdemProducao_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarOrdemProducaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirOrdemProducao_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirOrdemProducao" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirOrdemProducao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirOrdemProducaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarDeposito_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDeposito" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ConsultarDeposito_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDepositoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirDeposito_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirDeposito" />
  </wsdl:message>
  <wsdl:message name="IPortaria_InserirDeposito_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirDepositoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarDeposito_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarDeposito" />
  </wsdl:message>
  <wsdl:message name="IPortaria_AlterarDeposito_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarDepositoResponse" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirDeposito_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirDeposito" />
  </wsdl:message>
  <wsdl:message name="IPortaria_ExcluirDeposito_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirDepositoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPortaria">
    <wsdl:operation name="ConsultarPesagens">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarPesagens" message="tns:IPortaria_ConsultarPesagens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarPesagensResponse" message="tns:IPortaria_ConsultarPesagens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPesagensPlaca">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarPesagensPlaca" message="tns:IPortaria_ConsultarPesagensPlaca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarPesagensPlacaResponse" message="tns:IPortaria_ConsultarPesagensPlaca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPesagensDataHora">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarPesagensDataHora" message="tns:IPortaria_ConsultarPesagensDataHora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarPesagensDataHoraResponse" message="tns:IPortaria_ConsultarPesagensDataHora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPesagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarPesagem" message="tns:IPortaria_ConsultarPesagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarPesagemResponse" message="tns:IPortaria_ConsultarPesagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPesagemPorIdExtPrePesagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarPesagemPorIdExtPrePesagem" message="tns:IPortaria_ConsultarPesagemPorIdExtPrePesagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarPesagemPorIdExtPrePesagemResponse" message="tns:IPortaria_ConsultarPesagemPorIdExtPrePesagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReabrirPesagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ReabrirPesagem" message="tns:IPortaria_ReabrirPesagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ReabrirPesagemResponse" message="tns:IPortaria_ReabrirPesagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReabrirPesagemPorIdExtPrePesagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ReabrirPesagemPorIdExtPrePesagem" message="tns:IPortaria_ReabrirPesagemPorIdExtPrePesagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ReabrirPesagemPorIdExtPrePesagemResponse" message="tns:IPortaria_ReabrirPesagemPorIdExtPrePesagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarPesagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/CancelarPesagem" message="tns:IPortaria_CancelarPesagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/CancelarPesagemResponse" message="tns:IPortaria_CancelarPesagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarPesagemPorIdExtPrePesagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/CancelarPesagemPorIdExtPrePesagem" message="tns:IPortaria_CancelarPesagemPorIdExtPrePesagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/CancelarPesagemPorIdExtPrePesagemResponse" message="tns:IPortaria_CancelarPesagemPorIdExtPrePesagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPrePesagens">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarPrePesagens" message="tns:IPortaria_ConsultarPrePesagens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarPrePesagensResponse" message="tns:IPortaria_ConsultarPrePesagens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPrePesagemPorIdExt">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarPrePesagemPorIdExt" message="tns:IPortaria_ConsultarPrePesagemPorIdExt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarPrePesagemPorIdExtResponse" message="tns:IPortaria_ConsultarPrePesagemPorIdExt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirPrePesagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirPrePesagem" message="tns:IPortaria_InserirPrePesagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirPrePesagemResponse" message="tns:IPortaria_InserirPrePesagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarPrePesagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarPrePesagem" message="tns:IPortaria_AlterarPrePesagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarPrePesagemResponse" message="tns:IPortaria_AlterarPrePesagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirPrePesagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExcluirPrePesagem" message="tns:IPortaria_ExcluirPrePesagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExcluirPrePesagemResponse" message="tns:IPortaria_ExcluirPrePesagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPrePesagemAutomacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarPrePesagemAutomacao" message="tns:IPortaria_ConsultarPrePesagemAutomacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarPrePesagemAutomacaoResponse" message="tns:IPortaria_ConsultarPrePesagemAutomacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirPrePesagemAutomacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirPrePesagemAutomacao" message="tns:IPortaria_InserirPrePesagemAutomacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirPrePesagemAutomacaoResponse" message="tns:IPortaria_InserirPrePesagemAutomacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarPrePesagemAutomacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarPrePesagemAutomacao" message="tns:IPortaria_AlterarPrePesagemAutomacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarPrePesagemAutomacaoResponse" message="tns:IPortaria_AlterarPrePesagemAutomacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirPrePesagemAutomacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExcluirPrePesagemAutomacao" message="tns:IPortaria_ExcluirPrePesagemAutomacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExcluirPrePesagemAutomacaoResponse" message="tns:IPortaria_ExcluirPrePesagemAutomacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtivarDesativarPrePesagemAutomacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AtivarDesativarPrePesagemAutomacao" message="tns:IPortaria_AtivarDesativarPrePesagemAutomacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AtivarDesativarPrePesagemAutomacaoResponse" message="tns:IPortaria_AtivarDesativarPrePesagemAutomacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirTag" message="tns:IPortaria_InserirTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirTagResponse" message="tns:IPortaria_InserirTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarTag" message="tns:IPortaria_AlterarTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarTagResponse" message="tns:IPortaria_AlterarTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExcluirTag" message="tns:IPortaria_ExcluirTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExcluirTagResponse" message="tns:IPortaria_ExcluirTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExisteTag" message="tns:IPortaria_ExisteTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExisteTagResponse" message="tns:IPortaria_ExisteTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarProduto" message="tns:IPortaria_ConsultarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarProdutoResponse" message="tns:IPortaria_ConsultarProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirProduto" message="tns:IPortaria_InserirProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirProdutoResponse" message="tns:IPortaria_InserirProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarProduto" message="tns:IPortaria_AlterarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarProdutoResponse" message="tns:IPortaria_AlterarProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExcluirProduto" message="tns:IPortaria_ExcluirProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExcluirProdutoResponse" message="tns:IPortaria_ExcluirProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReativarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ReativarProduto" message="tns:IPortaria_ReativarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ReativarProdutoResponse" message="tns:IPortaria_ReativarProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarCliente" message="tns:IPortaria_ConsultarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarClienteResponse" message="tns:IPortaria_ConsultarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirClienteFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirClienteFisica" message="tns:IPortaria_InserirClienteFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirClienteFisicaResponse" message="tns:IPortaria_InserirClienteFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirClienteJuridica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirClienteJuridica" message="tns:IPortaria_InserirClienteJuridica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirClienteJuridicaResponse" message="tns:IPortaria_InserirClienteJuridica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarClienteFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarClienteFisica" message="tns:IPortaria_AlterarClienteFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarClienteFisicaResponse" message="tns:IPortaria_AlterarClienteFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarClienteJuridica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarClienteJuridica" message="tns:IPortaria_AlterarClienteJuridica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarClienteJuridicaResponse" message="tns:IPortaria_AlterarClienteJuridica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExcluirCliente" message="tns:IPortaria_ExcluirCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExcluirClienteResponse" message="tns:IPortaria_ExcluirCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReativarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ReativarCliente" message="tns:IPortaria_ReativarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ReativarClienteResponse" message="tns:IPortaria_ReativarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMotorista">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarMotorista" message="tns:IPortaria_ConsultarMotorista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarMotoristaResponse" message="tns:IPortaria_ConsultarMotorista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirMotoristaFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirMotoristaFisica" message="tns:IPortaria_InserirMotoristaFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirMotoristaFisicaResponse" message="tns:IPortaria_InserirMotoristaFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarMotoristaFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarMotoristaFisica" message="tns:IPortaria_AlterarMotoristaFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarMotoristaFisicaResponse" message="tns:IPortaria_AlterarMotoristaFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirMotorista">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExcluirMotorista" message="tns:IPortaria_ExcluirMotorista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExcluirMotoristaResponse" message="tns:IPortaria_ExcluirMotorista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReativarMotorista">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ReativarMotorista" message="tns:IPortaria_ReativarMotorista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ReativarMotoristaResponse" message="tns:IPortaria_ReativarMotorista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTransportadora">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarTransportadora" message="tns:IPortaria_ConsultarTransportadora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarTransportadoraResponse" message="tns:IPortaria_ConsultarTransportadora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirTransportadoraFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirTransportadoraFisica" message="tns:IPortaria_InserirTransportadoraFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirTransportadoraFisicaResponse" message="tns:IPortaria_InserirTransportadoraFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirTransportadoraJuridica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirTransportadoraJuridica" message="tns:IPortaria_InserirTransportadoraJuridica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirTransportadoraJuridicaResponse" message="tns:IPortaria_InserirTransportadoraJuridica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarTransportadoraFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarTransportadoraFisica" message="tns:IPortaria_AlterarTransportadoraFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarTransportadoraFisicaResponse" message="tns:IPortaria_AlterarTransportadoraFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarTransportadoraJuridica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarTransportadoraJuridica" message="tns:IPortaria_AlterarTransportadoraJuridica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarTransportadoraJuridicaResponse" message="tns:IPortaria_AlterarTransportadoraJuridica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirTransportadora">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExcluirTransportadora" message="tns:IPortaria_ExcluirTransportadora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExcluirTransportadoraResponse" message="tns:IPortaria_ExcluirTransportadora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReativarTransportadora">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ReativarTransportadora" message="tns:IPortaria_ReativarTransportadora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ReativarTransportadoraResponse" message="tns:IPortaria_ReativarTransportadora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarVisitante">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarVisitante" message="tns:IPortaria_ConsultarVisitante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarVisitanteResponse" message="tns:IPortaria_ConsultarVisitante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirVisitanteFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirVisitanteFisica" message="tns:IPortaria_InserirVisitanteFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirVisitanteFisicaResponse" message="tns:IPortaria_InserirVisitanteFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirVisitanteJuridica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirVisitanteJuridica" message="tns:IPortaria_InserirVisitanteJuridica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirVisitanteJuridicaResponse" message="tns:IPortaria_InserirVisitanteJuridica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarVisitanteFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarVisitanteFisica" message="tns:IPortaria_AlterarVisitanteFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarVisitanteFisicaResponse" message="tns:IPortaria_AlterarVisitanteFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarVisitanteJuridica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarVisitanteJuridica" message="tns:IPortaria_AlterarVisitanteJuridica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarVisitanteJuridicaResponse" message="tns:IPortaria_AlterarVisitanteJuridica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirVisitante">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExcluirVisitante" message="tns:IPortaria_ExcluirVisitante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExcluirVisitanteResponse" message="tns:IPortaria_ExcluirVisitante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReativarVisitante">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ReativarVisitante" message="tns:IPortaria_ReativarVisitante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ReativarVisitanteResponse" message="tns:IPortaria_ReativarVisitante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarProdutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarProdutor" message="tns:IPortaria_ConsultarProdutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarProdutorResponse" message="tns:IPortaria_ConsultarProdutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirProdutorFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirProdutorFisica" message="tns:IPortaria_InserirProdutorFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirProdutorFisicaResponse" message="tns:IPortaria_InserirProdutorFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirProdutorJuridica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirProdutorJuridica" message="tns:IPortaria_InserirProdutorJuridica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirProdutorJuridicaResponse" message="tns:IPortaria_InserirProdutorJuridica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarProdutorFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarProdutorFisica" message="tns:IPortaria_AlterarProdutorFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarProdutorFisicaResponse" message="tns:IPortaria_AlterarProdutorFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarProdutorJuridica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarProdutorJuridica" message="tns:IPortaria_AlterarProdutorJuridica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarProdutorJuridicaResponse" message="tns:IPortaria_AlterarProdutorJuridica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirProdutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExcluirProdutor" message="tns:IPortaria_ExcluirProdutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExcluirProdutorResponse" message="tns:IPortaria_ExcluirProdutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReativarProdutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ReativarProdutor" message="tns:IPortaria_ReativarProdutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ReativarProdutorResponse" message="tns:IPortaria_ReativarProdutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarXMLPessoaFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/GerarXMLPessoaFisica" message="tns:IPortaria_GerarXMLPessoaFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/GerarXMLPessoaFisicaResponse" message="tns:IPortaria_GerarXMLPessoaFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarXMLPessoaJuridica">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/GerarXMLPessoaJuridica" message="tns:IPortaria_GerarXMLPessoaJuridica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/GerarXMLPessoaJuridicaResponse" message="tns:IPortaria_GerarXMLPessoaJuridica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarXMLEndereco">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/GerarXMLEndereco" message="tns:IPortaria_GerarXMLEndereco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/GerarXMLEnderecoResponse" message="tns:IPortaria_GerarXMLEndereco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarXMLPrePesagemNotaFiscal">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/GerarXMLPrePesagemNotaFiscal" message="tns:IPortaria_GerarXMLPrePesagemNotaFiscal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/GerarXMLPrePesagemNotaFiscalResponse" message="tns:IPortaria_GerarXMLPrePesagemNotaFiscal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarXMLPrePesagemProdutoAdicional">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/GerarXMLPrePesagemProdutoAdicional" message="tns:IPortaria_GerarXMLPrePesagemProdutoAdicional_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/GerarXMLPrePesagemProdutoAdicionalResponse" message="tns:IPortaria_GerarXMLPrePesagemProdutoAdicional_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarXMLProdutoComposicao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/GerarXMLProdutoComposicao" message="tns:IPortaria_GerarXMLProdutoComposicao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/GerarXMLProdutoComposicaoResponse" message="tns:IPortaria_GerarXMLProdutoComposicao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarXMLOrdemProducaoComposicao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/GerarXMLOrdemProducaoComposicao" message="tns:IPortaria_GerarXMLOrdemProducaoComposicao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/GerarXMLOrdemProducaoComposicaoResponse" message="tns:IPortaria_GerarXMLOrdemProducaoComposicao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarVeiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarVeiculo" message="tns:IPortaria_ConsultarVeiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarVeiculoResponse" message="tns:IPortaria_ConsultarVeiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirVeiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirVeiculo" message="tns:IPortaria_InserirVeiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirVeiculoResponse" message="tns:IPortaria_InserirVeiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarVeiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarVeiculo" message="tns:IPortaria_AlterarVeiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarVeiculoResponse" message="tns:IPortaria_AlterarVeiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirVeiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExcluirVeiculo" message="tns:IPortaria_ExcluirVeiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExcluirVeiculoResponse" message="tns:IPortaria_ExcluirVeiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAuditoriasAutomacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarAuditoriasAutomacao" message="tns:IPortaria_ConsultarAuditoriasAutomacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarAuditoriasAutomacaoResponse" message="tns:IPortaria_ConsultarAuditoriasAutomacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarOrdemProducao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarOrdemProducao" message="tns:IPortaria_ConsultarOrdemProducao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarOrdemProducaoResponse" message="tns:IPortaria_ConsultarOrdemProducao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirOrdemProducao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirOrdemProducao" message="tns:IPortaria_InserirOrdemProducao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirOrdemProducaoResponse" message="tns:IPortaria_InserirOrdemProducao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarOrdemProducao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarOrdemProducao" message="tns:IPortaria_AlterarOrdemProducao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarOrdemProducaoResponse" message="tns:IPortaria_AlterarOrdemProducao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirOrdemProducao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExcluirOrdemProducao" message="tns:IPortaria_ExcluirOrdemProducao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExcluirOrdemProducaoResponse" message="tns:IPortaria_ExcluirOrdemProducao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDeposito">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ConsultarDeposito" message="tns:IPortaria_ConsultarDeposito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ConsultarDepositoResponse" message="tns:IPortaria_ConsultarDeposito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirDeposito">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/InserirDeposito" message="tns:IPortaria_InserirDeposito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/InserirDepositoResponse" message="tns:IPortaria_InserirDeposito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarDeposito">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/AlterarDeposito" message="tns:IPortaria_AlterarDeposito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/AlterarDepositoResponse" message="tns:IPortaria_AlterarDeposito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirDeposito">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortaria/ExcluirDeposito" message="tns:IPortaria_ExcluirDeposito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortaria/ExcluirDepositoResponse" message="tns:IPortaria_ExcluirDeposito_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPortaria" type="tns:IPortaria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarPesagens">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarPesagens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPesagensPlaca">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarPesagensPlaca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPesagensDataHora">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarPesagensDataHora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPesagem">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarPesagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPesagemPorIdExtPrePesagem">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarPesagemPorIdExtPrePesagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReabrirPesagem">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ReabrirPesagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReabrirPesagemPorIdExtPrePesagem">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ReabrirPesagemPorIdExtPrePesagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarPesagem">
      <soap:operation soapAction="http://tempuri.org/IPortaria/CancelarPesagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarPesagemPorIdExtPrePesagem">
      <soap:operation soapAction="http://tempuri.org/IPortaria/CancelarPesagemPorIdExtPrePesagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPrePesagens">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarPrePesagens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPrePesagemPorIdExt">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarPrePesagemPorIdExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirPrePesagem">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirPrePesagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarPrePesagem">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarPrePesagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirPrePesagem">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExcluirPrePesagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPrePesagemAutomacao">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarPrePesagemAutomacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirPrePesagemAutomacao">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirPrePesagemAutomacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarPrePesagemAutomacao">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarPrePesagemAutomacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirPrePesagemAutomacao">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExcluirPrePesagemAutomacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtivarDesativarPrePesagemAutomacao">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AtivarDesativarPrePesagemAutomacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirTag">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarTag">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirTag">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExcluirTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteTag">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExisteTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProduto">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirProduto">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarProduto">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirProduto">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExcluirProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReativarProduto">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ReativarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCliente">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirClienteFisica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirClienteFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirClienteJuridica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirClienteJuridica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarClienteFisica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarClienteFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarClienteJuridica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarClienteJuridica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirCliente">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExcluirCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReativarCliente">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ReativarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMotorista">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarMotorista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirMotoristaFisica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirMotoristaFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarMotoristaFisica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarMotoristaFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirMotorista">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExcluirMotorista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReativarMotorista">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ReativarMotorista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTransportadora">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarTransportadora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirTransportadoraFisica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirTransportadoraFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirTransportadoraJuridica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirTransportadoraJuridica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarTransportadoraFisica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarTransportadoraFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarTransportadoraJuridica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarTransportadoraJuridica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirTransportadora">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExcluirTransportadora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReativarTransportadora">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ReativarTransportadora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarVisitante">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarVisitante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirVisitanteFisica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirVisitanteFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirVisitanteJuridica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirVisitanteJuridica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarVisitanteFisica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarVisitanteFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarVisitanteJuridica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarVisitanteJuridica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirVisitante">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExcluirVisitante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReativarVisitante">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ReativarVisitante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProdutor">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarProdutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirProdutorFisica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirProdutorFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirProdutorJuridica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirProdutorJuridica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarProdutorFisica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarProdutorFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarProdutorJuridica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarProdutorJuridica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirProdutor">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExcluirProdutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReativarProdutor">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ReativarProdutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarXMLPessoaFisica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/GerarXMLPessoaFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarXMLPessoaJuridica">
      <soap:operation soapAction="http://tempuri.org/IPortaria/GerarXMLPessoaJuridica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarXMLEndereco">
      <soap:operation soapAction="http://tempuri.org/IPortaria/GerarXMLEndereco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarXMLPrePesagemNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/IPortaria/GerarXMLPrePesagemNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarXMLPrePesagemProdutoAdicional">
      <soap:operation soapAction="http://tempuri.org/IPortaria/GerarXMLPrePesagemProdutoAdicional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarXMLProdutoComposicao">
      <soap:operation soapAction="http://tempuri.org/IPortaria/GerarXMLProdutoComposicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarXMLOrdemProducaoComposicao">
      <soap:operation soapAction="http://tempuri.org/IPortaria/GerarXMLOrdemProducaoComposicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarVeiculo">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirVeiculo">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarVeiculo">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirVeiculo">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExcluirVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAuditoriasAutomacao">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarAuditoriasAutomacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarOrdemProducao">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarOrdemProducao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirOrdemProducao">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirOrdemProducao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarOrdemProducao">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarOrdemProducao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirOrdemProducao">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExcluirOrdemProducao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDeposito">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ConsultarDeposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirDeposito">
      <soap:operation soapAction="http://tempuri.org/IPortaria/InserirDeposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarDeposito">
      <soap:operation soapAction="http://tempuri.org/IPortaria/AlterarDeposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirDeposito">
      <soap:operation soapAction="http://tempuri.org/IPortaria/ExcluirDeposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Portaria">
    <wsdl:port name="BasicHttpBinding_IPortaria" binding="tns:BasicHttpBinding_IPortaria">
      <soap:address location="http://wdcbalanca01.intranet.local:5050/Portaria.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>